<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JCLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00EF7CB81CE5C35E003BAB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00EF7CD11CE5C35E003BAB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00EF7CDC1CE5C35E003BAB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
